#projectname {
  font: 300% Cantarell, sans-serif;
  margin: 0px;
  padding: 2px 0px;
}

#projectbrief {
  font: 120% Cantarell, sans-serif;
  margin: 0px;
  padding: 0px;
}

#projectnumber {
  font: 50% Cantarell, sans-serif;
  margin: 0px;
  padding: 0px;
}

body, table, div, p, dl {
  font: 400 14px/22px Cantarell, sans-serif;
}

p.reference, p.definition {
  font: 400 14px/22px Cantarell, sans-serif;
}

.title {
  font: 400 14px/28px Cantarell, sans-serif;
  font-size: 150%;
  font-weight: bold;
  margin: 10px 2px;
}

table.directory {
  font: 400 14px Cantarell, sans-serif;
}

#powerTip div {
  margin: 0px;
  padding: 0px;
  font: 12px/16px Cantarell, sans-serif;
}

.memItemLeft, .memItemRight, .memTemplItemLeft, .memTemplItemRight, .paramname {
  font: 400 14px/22px "Fira Code", "Fira Mono", monospace;
}

.memtitle {
  font: 400 14px/22px "Fira Code", "Fira Mono", monospace;
  font-weight: bold;
  font-size: 21px;
  border: none;
  background-color: rgb(14, 66, 82);
  background-image: none;
}

.memproto {
  border: none;
  background-color: rgb(11, 55, 68);
  color: inherit;
  text-shadow: none;
}

.memdoc {
  border: none;
  background-color: rgb(41, 32, 59);
  box-shadow: none;
}

.overload {
  font-family: "Cantarell", sans-serif;
  font-size: 65%;
}

.memtemplate {
  font: 400 14px/22px "Fira Code", "Fira Mono", monospace;
  color: rgb(138, 207, 192);
  font-size: 85%;
}

.memname {
  font: 400 14px/22px "Fira Code", "Fira Mono", monospace;
}

.paramname {
  color: rgb(245, 158, 216);
}

body {
  background-color: rgb(30, 23, 44);
  color: rgb(247, 220, 255);
}

.memnav {
  background-color: rgb(30, 23, 44);
  border: none;
}

div.header {
  background-image: none;
  background-color: rgb(41, 32, 59);
  margin: 0px;
  border: none;
}

div.toc {
  background-color: rgb(30, 23, 44);
  border: none;
}

.mdescLeft, .mdescRight, .memItemLeft, .memItemRight, .memTemplItemLeft, .memTemplItemRight, .memTemplParams {
  background-color: rgb(11, 55, 68);
  border: none;
  margin: 4px;
  padding: 1px 0 0 8px;
}

a {
  color: rgb(188, 236, 184);
}

.contents a:visited {
  color: rgb(188, 236, 184);
}

a:hover {
  color: rgb(236, 215, 184);
  text-decoration: none;
}

a.code, a.codeRef, a.line, a.lineRef {
  color: rgb(188, 236, 184);
}

a.code:visited, a.codeRef:visited, a.line:visited, a.lineRef:visited {
  color: rgb(188, 236, 184);
}

h2.groupheader {
  border-bottom: none;
  color: rgb(236, 241, 163);
  font-weight: bold;
}

h3 {
  font-family: "Fira Code", "Fira Mono", monospace;
  color: rgb(220, 236, 184);
}

.mdescLeft, .mdescRight {
  color: rgb(243, 193, 236);
  font-style: italic;
}

.memTemplParams {
  font-family: "Fira Code", "Fira Mono", monospace;
  color: rgb(224, 203, 243);
  white-space: nowrap;
  font-size: 80%;
}

span.mlabel {
  font: 400 14px/22px "Fira Code", "Fira Mono", monospace;
  background-color: inherit;
  border: none;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.9);
  color: rgb(153, 226, 255);
  font-size: 9pt;
}

#nav-tree {
  background-color: rgb(41, 32, 59);
  background-image: none;
}

.ui-resizable-e {
  background-color: rgb(60, 45, 73);
  background-image: none;
}

div.fragment {
  background-color: rgb(41, 32, 59);
  border: none;
}

div.line {
  font-size: 14px;
}

#powerTip {
  background-color: rgb(41, 32, 59, 0.9);
  opacity: 1;
  border: none;
  box-shadow: none;
}

#powerTip div.ttdeci {
  color: #87fda4;
}

#powerTip div.ttdoc {
  color: rgb(187, 186, 186);
}

#powerTip.n:after, #powerTip.s:after, #powerTip.w:after, #powerTip.e:after, #powerTip.nw:after, #powerTip.ne:after, #powerTip.sw:after, #powerTip.se:after {
  display: none;
}

#powerTip.n:before, #powerTip.s:before, #powerTip.w:before, #powerTip.e:before, #powerTip.nw:before, #powerTip.ne:before, #powerTip.sw:before, #powerTip.se:before {
  display: none;
}

/* @group Code Colorization */

span.keyword {
  color: rgb(106, 255, 218);
  font-weight: bold;
}

span.keywordtype {
  color: #eecf1f;
  font-weight: 450;
}

span.keywordflow {
  color: #61f33d;
  font-weight: bold;
}

span.comment {
  color: #7eafab;
}

span.preprocessor {
  color: #d868b6;
}

span.stringliteral {
  color: #708ce0;
}

span.charliteral {
  color: #70a4e0;
}

span.vhdldigit {
  color: #eb81eb;
}

span.vhdlchar {
  color: #a8a8a8;
}

span.vhdlkeyword {
  color: #f56ef5;
}

span.vhdllogic {
  color: #ff7171;
}

span.lineno {
  padding-right: 4px;
  text-align: right;
  border-right: 2px solid rgb(65, 133, 65);
  background-color: rgb(58, 3, 58);
}

span.lineno a {
  background-color: rgb(92, 12, 92);
}

span.lineno a:hover {
  background-color: rgb(12, 80, 92);
}

.label a {
  font-family: Cantarell, sans-serif;
  font-size: 13px;
  line-height: 1.2;
}

.arrow {
  color: rgb(180, 255, 243);
  cursor: pointer;
}

#nav-tree .selected {
  background-color: rgb(30, 23, 44);
  background-image: none;
}

.memSeparator {
  display: none;
}

.sm-dox {
  background-color: rgb(60, 45, 73);
  background-image: none;
}

.sm-dox a, .sm-dox a:focus, .sm-dox a:hover, .sm-dox a:active {
  font-family: Cantarell, sans-serif;
  font-size: 14px;
  line-height: 36px;
  text-shadow: none;
  color: #ffaff8;
}

.sm-dox a:hover {
  background-image: none;
  color: rgb(173, 250, 255);
  text-shadow: none;
}

.sm-dox a.current {
  color: #ffa588;
}

.sm-dox a.disabled {
  color: #bbb;
}

.sm-dox a span.sub-arrow {
  background: rgba(255, 255, 255, 0);
  color: #ffaff8;
  border-color: #ffaff8 transparent transparent transparent;
}

.sm-dox ul a span.sub-arrow {
  border-color: transparent transparent transparent rgb(153, 226, 255);
}

.sm-dox ul a:hover {
  background-image: none;
  color: white;
  text-shadow: none;
}

.sm-dox a, .sm-dox a:focus, .sm-dox a:active, .sm-dox a:hover, .sm-dox a.highlighted {
  background-image: none;
}

.sm-dox.sm-vertical a.disabled {
  background-image: none;
}

.sm-dox ul a, .sm-dox ul a:focus, .sm-dox ul a:hover, .sm-dox ul a:active {
  background-color: rgb(60, 45, 73, 0.85);
}

.sm-dox ul a, .sm-dox ul a:hover, .sm-dox ul a:focus, .sm-dox ul a:active, .sm-dox ul a.highlighted {
  color: rgb(153, 226, 255);
  background-image: none;
  border: 0 !important;
  color: rgb(153, 226, 255);
  background-image: none;
}

.sm-dox ul {
  border: none;
  background: rgb(60, 45, 73, 0.85);
  -moz-border-radius: 0px !important;
  -webkit-border-radius: 0px;
  border-radius: 0px !important;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#titlearea {
  border-bottom: none;
}

#MSearchBox .left {
  background: rgb(30, 23, 44);
}

#MSearchField {
  background: rgb(30, 23, 44);
  color: #6ead8a;
  font: 11pt Cantarell, sans-serif;
}

#MSearchBox .right {
  background: rgb(30, 23, 44);
}

.MSearchBoxActive #MSearchField {
  color: #98f8c3;
}

#MSearchSelectWindow {
  border: none;
  background-color: rgb(30, 23, 44);
}

.SelectItem {
  color: rgb(247, 220, 255);
  font: 11pt Cantarell, sans-serif;
}

a.SelectItem {
  color: rgb(247, 220, 255);
}

/*
  Black magic CSS fuckery to override the default search and close images
  because Doxygen hardcodes them
*/

#MSearchSelect {
  background: url("mytheme-search.svg");
  width: 0;
  height: 0;
  padding: 8px;
  background-position: 0 1px;
}

#MSearchCloseImg {
  background: url("mytheme-close.svg");
  width: 0;
  height: 0;
  padding: 8px;
  background-position: 0 -2px;
}

.navpath ul {
  font-size: 11pt;
  background-image: none;
  background-color: rgb(32, 47, 77);
  border: none;
}

.navpath li {
  padding-right: 10px;
  background-image: none;
}

.navpath li:nth-child(1) {
  background-color: rgb(32, 47, 77);
}

.navpath li:nth-child(2) {
  background-color: rgb(32, 59, 77);
}

.navpath li:nth-child(3) {
  background-color: rgb(32, 77, 75);
}

.navpath li:nth-child(4) {
  background-color: rgb(32, 77, 60);
}

.navpath li:nth-child(5) {
  background-color: rgb(32, 77, 40);
}

.navpath li:nth-child(6) {
  background-color: rgb(46, 77, 32);
}

.navpath li:nth-child(n+7) {
  background-color: rgb(70, 77, 32);
}

.navpath li:last-child {
  background-color: rgb(32, 47, 77);
}

.navpath li.navelem a {
  color: rgb(194, 255, 245);
  font-family: Cantarell, sans-serif;
  text-shadow: none;
}

.navpath li.navelem a:hover {
  color: rgb(161, 255, 184);
}

.navpath li.footer {
  color: rgb(245, 255, 159);
  font-size: 11pt;
}

div.directory {
  border: none;
}

.directory tr.even {
  background-color: rgb(44, 33, 66);
}

.directory tr:not(.even) {
  background-color: rgb(48, 37, 68);
}

table.fieldtable {
  /*width: 100%;*/
  border: none;
  border-spacing: 0px;
  box-shadow: none;
}

.fieldtable td.fieldtype, .fieldtable td.fieldname {
  border: none;
}

.fieldtable td.fielddoc {
  border: none;
}

.fieldtable th {
  background-image: none;
  background-color: #1a5200;
  font-size: 100%;
  color: #c6ffac;
  padding-bottom: 4px;
  padding-top: 5px;
  text-align: left;
  font-weight: bold;
  border: none;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.fieldtable tr:nth-child(even) {
  background-color: rgb(44, 33, 66);
}

.fieldtable tr:nth-child(odd) {
  background-color: rgb(48, 37, 68);
}

img.formulaInl {
  filter: invert(97%) sepia(95%) saturate(2702%) hue-rotate(181deg) brightness(105%) contrast(109%);
}

.memproto, dl.reflist dt {
  border: none;
  color: inherit;
  text-shadow: none;
  background-color: rgb(41, 32, 59);
  /* opera specific markup */
  box-shadow: none;
  border-top-right-radius: 0px;
  /* firefox specific markup */
  -moz-box-shadow: none;
  -moz-border-radius-topright: 0px;
  /* webkit specific markup */
  -webkit-box-shadow: none;
  -webkit-border-top-right-radius: 0px;
}

.memdoc, dl.reflist dd {
  border: none;
  color: inherit;
  text-shadow: none;
  background-color: inherit;
  /* opera specific markup */
  box-shadow: none;
  border-top-right-radius: 0px;
  /* firefox specific markup */
  -moz-box-shadow: none;
  -moz-border-radius-topright: 0px;
  /* webkit specific markup */
  -webkit-box-shadow: none;
  -webkit-border-top-right-radius: 0px;
  background-image: none;
}

/*
iframe#MSearchResults {
  background-color: rgb(30, 23, 44);
}

body.SRPage {
  color: rgb(247, 220, 255);
  font: 400 14px/22px Cantarell, sans-serif;
}

.SRPage .SRStatus {
  font: 400 14px/22px Cantarell, sans-serif;
  color: rgb(247, 220, 255);
}

a.SRSymbol {
  font-weight: bold;
  color: rgb(170, 199, 255);
  font-family: Cantarell, sans-serif;
  text-decoration: none;
  outline: none;
}

a.SRScope {
  display: block;
  color: rgb(170, 199, 255);
  font-family: Cantarell, sans-serif;
  text-decoration: none;
  outline: none;
}

span.SRScope {
  font: 400 14px/22px Cantarell, sans-serif;
  color: rgb(247, 220, 255);
}

.SRPage .SREntry {
  font-size: 10pt;
}
*/